
body{
    height: 100vh;
    background-color: #6974dc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}
.memory-card{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.memory-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    /* background: #daaeae; */
     backface-visibility: hidden;
}


.memory-card .picGame {
    transform: rotateY(180deg);
}
/*  for js  */
.memory-card.flip {
    transform: rotateY(180deg);
}
